<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Part list</title>
    <link rel="stylesheet" href="/css/home.css">
    <script type="text/javascript" src="/js/part-list.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<main>
    Welcome !
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>