<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Headers</title>
</head>
<body>

<header th:fragment="header">
    <nav class="bg-blue-600 text-white p-4 shadow-md">
        <div class="container mx-auto flex items-center justify-between">
            <a href="/ui" class="flex items-center space-x-2">
                <img th:src="@{/image/icon.svg}" alt="app-logo" />
                <span class="text-xl font-semibold">Community Library</span>
            </a>

            <div class="flex space-x-4">
                <a href="/books" class="p-4 hover:underline hover:bg-blue-800">Connexion</a>
            </div>
        </div>

        <div class="container mx-auto flex items-center justify-center">
            <div class="flex space-x-6">
                <a href="/ui" class="hover:underline">Accueil</a>
                <a href="/ui/public/books/catalogue" class="hover:underline">Livres</a>
                <a href="/ui/customer/books?customerId=468103a7-23de-4d94-87ab-8e7af0e3a553" class="hover:underline">Emprunts</a>
                <a href="/ui/administrator/dashboard" class="hover:underline">Admin</a>
            </div>
        </div>
    </nav>
</header>

</body>
</html>