<!DOCTYPE html>
<html lang="fr">
<body>
<footer th:fragment="footer" id="footer">
    <span>{{date}}</span>
    <div>{{envName}}</div>
    <div>{{authorities}}</div>
    <div>{{port}}</div>
</footer>
</body>
</html>