<!DOCTYPE html>
<html lang="fr">
<body>
  <header th:fragment="header" id="header">
    <nav>
      <h3>SupplierService</h3>
      <a href="/">Home</a>
      <a href="/client/supplier">SupplierList</a>
    </nav>
  </header>
</body>
</html>